.sport-products {
  width: 100%;
}

.sport-products--container {
  margin: 0 auto;
  padding: 40px 20px 30px;
  width: 1000px;
}

.sport-products--heading {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  transform: scaleY(2);
}

.sport-products--blocks {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 40px;
}

.sport-products--block {
  border-radius: 14px;
  flex: 1;
  height: 286px;
  overflow: hidden;
}

.sport-products--product {
  height: 100%;
  width: 100%;
}

.sport-products--product-image {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.sport-products--info {
  align-items: center;
  background-color: #25bfce;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 30px;
  text-align: center;
  width: 100%;
}

.sport-products--info-icon {
  display: block;
  font-size: 20px;
  margin: 0;
}

.sport-products--info-title {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 14px;
  margin: 0;
  transform: scaleY(2);
}

.sport-products--info-description {
  font-size: 12px;
  letter-spacing: normal;
  line-height: 16px;
  margin: 10px 0 0;
}

.sport-products--dots {
  display: flex;
  gap: 2px;
  justify-content: center;
  margin-top: 6px;
}

.sport-products--dot {
  background-color: #9f9f9f;
  border-radius: 50%;
  display: block;
  height: 8px;
  width: 8px;
}

.sport-products--dot--active {
  background-color: #000;
}
